body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#noidung {
    width: auto;
    height: 741px;
    background-color: white;
}

.hienthi {
    width: 400px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 70px;
    margin-left: 150px;
}

a {
    text-decoration: none;
}